.sidenav-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}
.collapseHome {
  margin-bottom: 20px;
  display: block ;
}
.collapseHome .collapse__head {
  width: 30%;
  position: relative;
  cursor: pointer;
  padding: 5px 10px 5px 0;
}
.collapseHome .collapse__body {
  padding: 2% 0px 1% 0;
  display: none;
}
.collapse__body .container-cards{
  padding-left: 0;
}
.collapseHome .collapse__head .nav-indicator {
  position: absolute;
  left: 25em;
}
.collapseHome .collapse__head svg.nav-indicator path {
  fill: none;
  stroke: #aaa;
  stroke-linecap: round;
  stroke-width: 2;
  stroke-dasharray: 29 40;
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
}
.collapseHome .collapse__head svg.nav-indicator--alt {
  -webkit-transform: translateY(-20%);
  transform: translateY(-20%);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.collapseHome .collapse__head svg.nav-indicator--alt path {
  fill: none;
  stroke: #33cccc;
  stroke-linecap: square;
  stroke-width: 2;
  stroke-dasharray: 14 40;
  stroke-dashoffset: -15;
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
}
.flecha{
  fill: none;
  stroke: #33cccc;
  stroke-linecap: square;
  stroke-width: 2;
  stroke-dasharray: 14 40;
  stroke-dashoffset: 0!important;
  -webkit-transition: stroke-dashoffset 0.3s;
  transition: stroke-dashoffset 0.3s;
}
.itemInfo{
  color: #959595;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.itemDescription{
  color: #33cccc;
}
/* -------------------------------------    CARDS   ------------------------------------ */
.card{
  width: 90%;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px #c7c7c7;
  border: 1px solid #d3d3d3;
  font-family: 'Roboto', sans-serif ;
}
.card .header {
  padding: 20px 15px 15px;
  border-bottom: 1px solid #e1e1e1;
}
.card .content {
  padding: 20px 15px 10px 15px;
}
.subtitleCard{
  color: #9c9c9c;
  font-weight: bold;
}
.stats .buttonCard{
  background-color: #f9f9f9;
  padding: 3% 0 1% 3%;
  border-top: 1px solid #cecece
}
.stats .buttonCard p.buttonCardText{
  font-weight: bold;
  color: gray;
}
.stats .buttonCard:hover  .buttonCardText{
  color: #33cccc;
}
.iconArrowCard{
  color: #33cccc;
}
.nameChildren{
  padding-top: 13%;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  display: inline-block;
  color: #000;
}
.enlaceCard:hover .nameChildren{
  color: #33cccc;
}
.iconGener{
  padding-top: 75%;
}
@media screen and (max-width: 620px){
  .collapseHome .collapse__head {
    width: 100% !important;
  }
}
@media screen and (max-width: 850px){
  .card{
    width: 100%;
  }
  .nav--secondary .container-cards{
    padding-left: 0;
  }
  .collapseHome .collapse__head .nav-indicator {
    position: absolute;
    left: 22em;
  }
  .collapse__body .container-cards{
    padding-left: 15px;
  }
  .collapseHome .collapse__body{
    padding: 4% 0px 1% 0;
    display: none;
  }
}
@media (min-width: 667px) and (max-width: 990px){
  .card{
    width: 100%;
  }
}
@media (min-width: 850px) and (max-width: 1000px){
  .card{
    width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1600px){
  .card{
    width: 100%;
  }
}
@media screen and (max-width: 1250px){
  .collapseHome .collapse__head {
    width: 50%;
  }
}
